@media(max-width:426px){
    #header .mynav{
        flex-direction: column;
    }
    .wi-fi{display:none;}
    .nav-tabs{
        border-bottom:1px solid transparent!important;
    }
    .tab-bottom{
        display:block;
    }
    .tab-offer{
        box-sizing: border-box;
        padding: 0;
    }
    .list-preview{
        flex-direction: column;
    }
    .list-preview-one{
        width:100%;
    }
    .list-map form input{
        margin:20px 0;
    }
    .list-map{
        width: 100%;
    }
    .list-map form{
        display:flex;
        flex-direction: column;
    }
    .list-map label{
        margin-left: 20px;
    }
}