@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Inter', sans-serif;
}
.header-top{
    background: #037FC5;
    padding:18px 0;
}
.user-profile span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header{
    background: #FAFAFA;
}
#header .navbar-default{
    background-color: transparent;
    border-color:transparent;
    margin-bottom: 0;
}

#header .mynav li a{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #696969;
    padding:20px 15px;
}
#header .mynav{
    display:flex;
    justify-content: center;
    align-items: center;
}
#header .navbar-nav{
    float:none;
}
/* style id company*/
#company{
    background:url(image/bg.svg)no-repeat;
    background-position:center center;
    width: 100%;
    padding:168px 0;
}
.d-flex{
    display:flex;
}
#company .connect h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
}
#company .connect p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}
#company .connect button{
    background: #037FC5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width:239px;
    padding: 15px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}
.company-container{
    justify-content: center;
    align-items: center;
}
/*end style id company*/

/*style id tarif*/
#tarif{
    background: url(image/bg-tarif.svg)100% 100% no-repeat;
    background-size: cover;

}
.tarif-item{
    padding:20px;
}
.tarif-thumb{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
.tarif-header{
    background: rgba(3, 127, 197, 0.04);
    border-radius: 5px 5px 0px 0px;
    padding:30px 0;
    height: 220px;
}
.tarif-header h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #313131;
}
.tarif-header span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.tarif-bottom{
    width:203px;
    margin:auto;
}
.tarif-bottom .price{
    margin:20px 0;
}
.tarif-bottom .price p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #037FC5;
}
.tarif-bottom .price p span{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px!important;
    line-height: 31px!important;
    text-align: center;
    color: #313131!important;
}
.tarif-wi-fi{
    justify-content: space-between;
}
.tarif-wi-fi>div span{
    display:block;
}
.tarif-wi-fi>div{
    text-align: center;
}
.tarif-wi-fi>div img{
    height:30px;
}

.tarif-thumb button{
    margin-top: 20px;
    background: #FF5252;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0;
    width:239px;
}
.tarif-thumb{
    padding-bottom: 30px;
}
.tarif{
    position:relative;
    top:-70px;
}
.button-tarif{
    padding-bottom: 60px;
    justify-content: center;
}
.button-tarif button{
    border: 1px solid #037FC5;
    box-sizing: border-box;
    border-radius: 5px;
    width:239px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #037FC5;
    text-transform: uppercase;
    background: transparent;
    padding:15px 0;

}
/*end style tarif*/

/*style section offer*/
#offer{
    padding:40px 0;
}
.offer-title h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #313131;
}
.offer>div{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.offer .new-offer span{
    display:block;
}
.offer .old-offer span{
    display:block;
}
.offer .nav{
    margin:50px 0;
}
.offer .new-offer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer .old-offer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer .new-offer span{
    margin: 15px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.offer .old-offer span{
    margin: 15px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.nav-tabs>li.active>a{
    position:relative;

}
.nav-tabs>li.active>a:before{
    content: url(image/tab-active.svg);
    width: 14px;
    height: 14px;
    position:absolute;
    bottom:-5px;
    left:50%;
    margin-left: -7px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-left:1px solid transparent;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom: 1px solid #E3E3E3;
}
.tab-title{
    position:absolute;
    top:20%;

}
.tab-thumbnail{
    width:80%;
    margin:auto;
}
.tab-title h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}
.tab-title p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.tab-bottom span{
    display:block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.tab-bottom{
    position:absolute;
    bottom:20%;
    width: 100%;
    text-align: center;
    display:none;
}
.tab-offer img{width:100%;}
.tab-bottom button{
    background: #FFFFFF;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    width:239px;
    color: #037FC5;
    padding:15px 0;
    margin-top: 35px;
}
.tab-offer:hover .tab-bottom{
    display:block;
    transition: 3s;
}
.offer-bottom button{
    border: 1px solid #037FC5;
    box-sizing: border-box;
    border-radius: 5px;
    width:239px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    padding:15px 0;
    color: #037FC5;
}
.offer-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px 0;
}
/* section id list wi-fi*/
#list-wi-fi .list-title h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #313131;
}
#list-wi-fi .list-title{
    max-width:465px;
    width:100%;
    margin:auto;
}
#list-wi-fi .list-title p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.list-map label:before{
    content:url(image/map.svg);
    width:12px;
    height:15px;
    position: absolute;
    top:0;
    left:-15px;
}
.list-map label{
    position:relative;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #313131;
    margin-right: 5px;
}
.list-map form select{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #037FC5;
    padding: 20px 0;
    background: transparent;
    outline: none;
}
.list-map form input{
    border-bottom: 1px solid #E3E3E3;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    color: #828282;
    margin-left:25px;
}
.list-preview-one{
    width:40%;
    padding:50px 20px;
}
.list-preview-two{
    max-width:648px;
    width:100%;
}
.list-preview-one ul li{
    justify-content: space-between;
    margin:15px 0;
    align-items: flex-start;
}
.list-preview-one ul li span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
    margin-left: 15px;
}
.list-preview-one p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
    margin:30px 0;
}
#list-wi-fi .tab-content{
    margin:65px 0;
}
/*section blog-home*/
.blog-home-title h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #313131;
}
.blog-home-body{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    margin:40px 0;
    padding:50px;
}
.news-bottom{
    justify-content: center;
}
.news-bottom button{
    border: 1px solid #037FC5;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    color: #037FC5;
    width: 239px;
    padding:15px 0;
    background: transparent;
}
#blog-home{
    padding-bottom: 70px;
}
#blog-home .thumbnail{
    border:1px solid transparent;
    margin-bottom: 0;
}
.date span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    position:relative;
     left:20px;
}
.date span:before{
    content:url(image/calendar.svg);
    width:20px;
    height:20px;
    position:absolute;
    left:-20px;
    top:-3px;
}
.date p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
    margin-top: 15px;
}
.date .btn-news{
    margin-top: 45px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #037FC5;
}
/*section footer*/
#footer{
    background: #E3F2FD;
    padding:70px 0 0 0;
}
.footer-bottom-seti ul li{
    list-style-type: none;
    margin:5px;
}
.footer-bottom-seti p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
}
.footer-seti{
    height:200px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.footer-nav ul li{
    list-style-type: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
    margin:14px 0;
}
.footer-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    background: #E3F2FD;
}
.footer-bottom span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #313131;
}
#popup__toggle{bottom:-45px;right:-45px;position:absolute;z-index:999;}
.img-circle{background-color:#FF5252;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #FF5252;width:140px;height:140px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#FF5252;width:90px;height:90px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:62px;height:62px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:62px;height:62px;background-image:url(image/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) scale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
#header>.container{
    position:relative;
}
#about{
    background:url(image/bg-about.svg)no-repeat;
    background-position:center center;
    width: 100%;
    padding:168px 0;
}
#about .connect-about{
    max-width:870px;
    width:100%;
    margin:auto;
}
#about .connect-about h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
#about .connect-about p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.tarif-thumb-about{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding:70px 0;
}
.tarif-header-about h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #037FC5;
}
.tarif-header-about span{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #313131;
}
.tarif-about{
    padding-bottom: 165px;
}
#tarif-page{
    background:url(image/bg-tarif-page.svg)no-repeat;
    background-position:center center;
    width: 100%;
    padding:168px 0;
}
#tarif-page .connect-tarif{
    max-width:870px;
    width:100%;
    margin:auto;
    text-align: center;
}
#tarif-page .connect-tarif h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
#tarif-page .connect-tarif span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
#tarif-section{
    background: #E3F2FD;
}
/*section last-trafic */
#last-trafic{
    padding:50px 0;
}
#last-trafic h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #037FC5;
    margin-bottom: 35px;
}
.trafic-header{
    background: rgba(3, 127, 197, 0.04);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:30px 0;
}
.trafic .thumbnail{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding:0;
    border:1px solid transparent;
}
.trafic-header .title{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #037FC5;
}
.trafic-header span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 15px;
    color: #313131;
}
.trafic-body{
    margin:30px;
    border-bottom:1px solid #E3E3E3;
}
.trafic-description{
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin:50px 0;
}

.trafic-description .light{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #AAAAAA;
}
.trafic-description .strong{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: right;
    color: #313131;
}
.trafic-description .redlight{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FF5252;
}
.trafic-description .redstrong{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: right;
    color: #FF5252;
}
.trafic-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
}
.trafic-bottom button{
    background: #FF5252;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width:239px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding:15px 0;
    margin-bottom: 35px;
}
#abonent{
    padding:60px 0;
    background: #E3F2FD;
}
.abonent-header{
    max-width: 772px;
    margin:auto;
    width:100%;
    text-align: center;
}
.abonent-header h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #313131;
}
.abonent-header p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #313131;
}
.abonent-header a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #037FC5;
}
.abonent-slide-header{
    padding:30px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 127, 197, 0.04);
    flex-direction: column;
}
.slide-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
.abonent-slide-body{
    padding:40px 0;
}
.abonent-slide-bottom{
    display:flex;
    justify-content: center;
    align-items: center;

}
.abonent-slide-bottom button{
    background: #FF5252;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding:15px 0;
    color: #FFFFFF;
    width:239px;
    margin-bottom: 40px;
}
.abonent-slide-body .price span:first-child{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 47px;
    text-align: center;
    color: #037FC5;
    margin:0 5px;
}
.abonent-slide-body .price span:last-child{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #313131;
    margin:0 5px;
}
.abonent-slide-body .price{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    height: 65px;
}
.abonent-slide-body .donwload{
    display:flex;
    justify-content: center;
    align-items: center;
}
.abonent-slide-body .donwload>div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px 20px 0;
}
.abonent-slide-body .donwload>div span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #AAAAAA;
    margin-top: 10px;
}
.slide{
    padding:15px;
}
.bx-wrapper{
    background: transparent;
    border:5px solid transparent;
    box-shadow: none;
}
.bx-wrapper .bx-next{
    background:url(image/arrow-right.svg)!important;

}
.bx-wrapper .bx-prev{
    background:url(image/arrow-left.svg)!important;

}
.bx-wrapper .bx-controls-direction a{
    width:39px!important;
    height:39px!important;
}