@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Inter', sans-serif;
}
.header-top{
    background: #037FC5;
    padding:18px 0;
}
.user-profile span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header{
    background: #FAFAFA;
}
#header .navbar-default{
    background-color: transparent;
    border-color:transparent;
    margin-bottom: 0;
}

#header .mynav li a{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #696969;
    padding:20px 15px;
}
#header .mynav{
    display:flex;
    justify-content: center;
    align-items: center;
}
#header .navbar-nav{
    float:none;
}
/* style id company*/
#company{
    background:url(image/bg.svg)no-repeat;
    background-position:center center;
    width: 100%;
    padding:168px 0;
}
.d-flex{
    display:flex;
}
#company .connect h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
}
#company .connect p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}
#company .connect button{
    background: #037FC5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width:239px;
    padding: 15px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}
.company-container{
    justify-content: center;
    align-items: center;
}
/*end style id company*/

/*style id tarif*/
#tarif{
    background: url(image/bg-tarif.svg)100% 100% no-repeat;
    background-size: contain;

}
.tarif-item{
    padding:20px;
}
.tarif-thumb{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
.tarif-header{
    background: rgba(3, 127, 197, 0.04);
    border-radius: 5px 5px 0px 0px;
    padding:30px 0;
}
.tarif-header h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #313131;
}
.tarif-header span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.tarif-bottom{
    width:203px;
    margin:auto;
}
.tarif-bottom .price{
    margin:20px 0;
}
.tarif-bottom .price p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #037FC5;
}
.tarif-bottom .price p span{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px!important;
    line-height: 31px!important;
    text-align: center;
    color: #313131!important;
}
.tarif-wi-fi{
    justify-content: space-between;
}
.tarif-wi-fi>div span{
    display:block;
}
.tarif-wi-fi>div{
    text-align: center;
}
.tarif-wi-fi>div img{
    height:30px;
}

.tarif-thumb button{
    margin-top: 20px;
    background: #FF5252;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0;
    width:239px;
}
.tarif-thumb{
    padding-bottom: 30px;
}
.tarif{
    position:relative;
    top:-70px;
}
.button-tarif{
    padding-bottom: 60px;
    justify-content: center;
}
.button-tarif button{
    border: 1px solid #037FC5;
    box-sizing: border-box;
    border-radius: 5px;
    width:239px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #037FC5;
    text-transform: uppercase;
    background: transparent;
    padding:15px 0;

}
/*end style tarif*/

/*style section offer*/
#offer{
    padding:40px 0;
}
.offer-title h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #313131;
}
.offer>div{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.offer .new-offer span{
    display:block;
}
.offer .old-offer span{
    display:block;
}
.offer .nav{
    margin:50px 0;
}
.offer .new-offer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer .old-offer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer .new-offer span{
    margin: 15px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.offer .old-offer span{
    margin: 15px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.nav-tabs>li.active>a{
    position:relative;

}
.nav-tabs>li.active>a:before{
    content: url(image/tab-active.svg);
    width: 14px;
    height: 14px;
    position:absolute;
    bottom:-5px;
    left:50%;
    margin-left: -7px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-left:1px solid transparent;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom: 1px solid #E3E3E3;
}
.tab-title{
    position:absolute;
    top:20%;

}
.tab-thumbnail{
    width:80%;
    margin:auto;
}
.tab-title h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}
.tab-title p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.tab-bottom span{
    display:block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.tab-bottom{
    position:absolute;
    bottom:20%;
    width: 100%;
    text-align: center;
    display:none;
}
.tab-offer img{width:100%;}
.tab-bottom button{
    background: #FFFFFF;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    width:239px;
    color: #037FC5;
    padding:15px 0;
    margin-top: 35px;
}
.tab-offer:hover .tab-bottom{
    display:block;
    transition: 3s;
}
.offer-bottom button{
    border: 1px solid #037FC5;
    box-sizing: border-box;
    border-radius: 5px;
    width:239px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    padding:15px 0;
    color: #037FC5;
}
.offer-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px 0;
}
/* section id list wi-fi*/
#list-wi-fi .list-title h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #313131;
}
#list-wi-fi .list-title{
    max-width:465px;
    width:100%;
    margin:auto;
}
#list-wi-fi .list-title p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}
.list-map label:before{
    content:url(image/map.svg);
    width:12px;
    height:15px;
    position: absolute;
    top:0;
    left:-15px;
}
.list-map label{
    position:relative;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #313131;
    margin-right: 5px;
}
.list-map form select{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #037FC5;
    outline: none;
}
.list-map form input{
    border-bottom: 1px solid #E3E3E3;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    color: #828282;
    margin-left:25px;
}
.list-preview-one{
    width:40%;
    padding:50px 20px;
}
.list-preview-two{
    max-width:648px;
    width:100%;
}
.list-preview-one ul li{
    justify-content: space-between;
    margin:15px 0;
    align-items: flex-start;
}
.list-preview-one ul li span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
    margin-left: 15px;
}
.list-preview-one p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
    margin:30px 0;
}
#list-wi-fi .tab-content{
    margin:65px 0;
}
/*section blog-home*/
.blog-home-title h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #313131;
}
.blog-home-body{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    margin:40px 0;
    padding:50px;
}
.news-bottom{
    justify-content: center;
}
.news-bottom button{
    border: 1px solid #037FC5;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    color: #037FC5;
    width: 239px;
    padding:15px 0;
    background: transparent;
}
#blog-home{
    padding-bottom: 70px;
}
#blog-home .thumbnail{
    border:1px solid transparent;
    margin-bottom: 0;
}
.date span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    position:relative;
     left:20px;
}
.date span:before{
    content:url(image/calendar.svg);
    width:20px;
    height:20px;
    position:absolute;
    left:-20px;
    top:-3px;
}
.date p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
    margin-top: 15px;
}
.date .btn-news{
    margin-top: 45px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #037FC5;
}
/*section footer*/
#footer{
    background: #E3F2FD;
    padding:70px 0 0 0;
}
.footer-bottom-seti ul li{
    list-style-type: none;
    margin:5px;
}
.footer-bottom-seti p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
}
.footer-seti{
    height:200px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.footer-nav ul li{
    list-style-type: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
    margin:14px 0;
}
.footer-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    background: #E3F2FD;
}
.footer-bottom span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #313131;
}